    * {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}


/*****esconder*****/

.video-boasvindasM,
.video-diretorM,
.fotosM {
    display: none;
}


/*****logo*****/

.logo {
    width: 7.5%;
    height: auto;
    position: absolute;
    top: 3.87%;
    left: 4.5%;
    z-index: 1;
}


/*******barras*****/

#barras {
    position: relative;
    top: 0;
    left: 0;
}


/***** barra superior *****/

#barra-superior {
    width: 100%;
    height: auto;
    position: absolute;
    left: 75.30%;
    z-index: 1;
}

#barra-superior ul li {
    float: left;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    padding: 3.83% 1.63%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

#barra-superior ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 50%;
}

#barra-superior ul a:hover {
    color: #FFFFFF;
    opacity: 100%;
}


/*****barra lateral ******/

#barra-lateral {
    position: absolute;
    margin-top: 19.63%;
    left: 2.7%;
    z-index: 1;
    width: 20%;
}

#barra-lateral .simbolo {
    position: absolute;
    top: 1%;
    z-index: 1;
    width: 6%;
    height: auto;
}

#barra-lateral ul li {
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding-bottom: 10%;
}

#barra-lateral ul a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 50%;
    padding-left: 10%;
}

#barra-lateral ul a:hover {
    opacity: 100%;
}

#barra-lateral .destaque {
    font-size: 1.1vw;
    padding-top: 0;
    font-weight: bold;
}


/*****principal*****/

#principal {
    position: relative;
}


/******boas vindas*****/

#boas-vindas {
    position: relative;
    top: 0;
}

#boas-vindas .ola {
    width: 37.9%;
    height: 12.3%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 28.98%;
    left: 32.13%;
    font-weight: lighter;
    z-index: 1;
}

#boas-vindas .boas-vindas {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 43.33%;
    left: 30.88%;
    font-weight: lighter;
    z-index: 1;
}

#boas-vindas span {
    font-weight: bold;
}


/*********video boas vindas*************/

#boas-vindas .video-wrapper {
    position: relative;
}

#boas-vindas .video-wrapper>video {
    width: 100%;
    vertical-align: middle;
}

#boas-vindas .video-wrapper>video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

#boas-vindas .video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25%;
    position: absolute;
    top: 13%;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    transition: opacity 150ms;
}

#boas-vindas .video-overlay-play-button:hover {
    opacity: 1;
}

#boas-vindas .video-overlay-play-button.is-hidden {
    display: none;
}


/*****diretor******/

#equipe-diretor {
    width: 100%;
    height: auto;
}

#equipe-diretor .informacoes {
    background: #000;
    color: #FFFFFF;
    width: 17.36%;
    height: 39.98%;
    position: absolute;
    top: 131.26%;
    left: 13.5%;
    z-index: 2;
    overflow: hidden;
}

#equipe-diretor .simbolo {
    width: 8.29%;
    position: absolute;
    top: 15.165%;
    left: 15.5%;
    z-index: 1;
}

#equipe-diretor .nome {
    font-size: 1.3vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    left: 26.46%;
}

#equipe-diretor .cargo {
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 26.1%;
    left: 31.86%;
    font-weight: lighter;
}

#equipe-diretor .descricao {
    font-size: 1vw;
    line-height: 1.2vw;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 37.5%;
    left: 27.96%;
    right: 10.6%;
}

#fundo {
    position: absolute;
    top: 82.02%;
    left: 0;
    right: 48.7%;
    padding-top: 8.2%;
}

#fundo p {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 24vw;
    line-height: 23vw;
    font-weight: bold;
    opacity: 5%;
    padding-left: 0;
}


/*********video diretor*************/

#equipe-diretor>.video-wrapper>.video-diretor {
    width: 73.65%;
    position: absolute;
    top: 109.63%;
    left: 22.19%;
    z-index: 1;
}


/****** equipe *****/

#equipe {
    width: 100%;
}

#equipe .equipe {
    position: absolute;
    top: 203.43%;
    left: 33.36%;
}

#equipe .equipe p {
    font-size: 6vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#equipe .equipe p span {
    font-weight: bolder;
}

.membro1,
.membro2,
.membro3,
.membro4 {
    background-color: black;
    width: 18.44%;
    height: 41.2%;
}

#equipe .membro1 {
    position: absolute;
    top: 222.18%;
    left: 14.6%;
}

#equipe .membro2 {
    position: absolute;
    top: 222.18%;
    left: 35.5%;
}

#equipe .membro3 {
    position: absolute;
    top: 222.18%;
    left: 56.5%;
}

#equipe .membro4 {
    position: absolute;
    top: 222.18%;
    left: 77.4%;
}

#equipe .foto {
    position: absolute;
    top: -6.9%;
    left: 22.3%;
    width: 77.7%;
}

#equipe .simbolo {
    position: absolute;
    top: 52.5%;
    left: 8.3%;
    width: 5.6%;
}

#equipe .membros p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

#equipe .nome {
    position: absolute;
    top: 64.8%;
    left: 11%;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
}

#equipe .cargo {
    position: absolute;
    top: 74.4%;
    left: 11%;
    text-transform: uppercase;
    font-size: 0.9vw;
}

#equipe .descricao {
    position: absolute;
    top: 81.5%;
    left: 11%;
    font-size: 0.8vw;
}


/**********contato********/

#contato {
    width: 100%;
    height: 42.13%;
    position: absolute;
    top: 268%;
    background: black;
}

#contato p {
    color: #FFFFFF;
    font-size: 2.5vw;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 19.6%;
    left: 19.6%;
    padding-left: 5%;
}

.lateral-contato ::placeholder,
button {
    text-transform: uppercase;
}

.lateral-contato .nome {
    position: absolute;
    top: 23%;
    left: 53.5%;
    background: black;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 26.9%;
    font-size: 1.2vw;
}

.lateral-contato .email {
    position: absolute;
    top: 36.9%;
    left: 53.5%;
    background: black;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 26.9%;
    font-size: 1.2vw;
}

.lateral-contato .mensagem {
    position: absolute;
    top: 51%;
    left: 53.5%;
    background: black;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 26.9%;
    font-size: 1.2vw;
}

#contato input[type='file'] {
    display: none;
}

#contato label {
    position: absolute;
    top: 75.9%;
    left: 53.3%;
    background: black;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    width: 6.25%‬;
    height: 3.5%;
    font-size: 1vw;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 0.5%;
}

.lateral-contato .enviar {
    position: absolute;
    top: 70.5%;
    left: 69%;
    background-color: black;
    border: 1px solid #fff;
    color: #FFFFFF;
    width: 11.45%;
    height: 9.9%;
    font-size: 1vw;
}


/**********ambiente***********/

#ambiente {
    background: black;
    width: 100%;
    height: 109.16%;
    position: absolute;
    top: 325.7%;
}

.titulo-ambiente p {
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    padding-left: 9.9%;
    padding-bottom: 5%;
}

.titulo-ambiente span {
    font-weight: bold;
}

.titulo-ambiente {
    width: 51.3%;
    background: #FFFFFF;
    position: absolute;
    top: -5.4%;
    left: 4.17%;
}

#carrosel-fotos .fotos {
    position: relative;
}

#ambiente .fotos {
    display: block;
    position: absolute;
    top: 6.96%;
    left: 7%;
    width: 76.56%;
    height: auto;
}

#ambiente .numero-foto {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

#ambiente .numero-foto .foto-atual {
    font-size: 1.8vw;
    position: absolute;
    top: 3.08%;
    left: 64.74%;
}

#ambiente .total-fotos {
    opacity: 50%;
    font-size: 1vw;
    position: absolute;
    top: 4%;
    left: 67.07%;
}

#ambiente .allHands {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

#ambiente .titulo-allHands {
    position: absolute;
    top: 18.83%;
    left: 72.24%;
    text-transform: uppercase;
    font-size: 2.7vw;
    font-weight: bold;
    width: 9.27%;
}

#ambiente .descricao-allHands {
    position: absolute;
    top: 31.21%;
    left: 72.24%;
    right: 16%;
    font-size: 1vw;
}

#setas .direita {
    position: absolute;
    top: 64.04%;
    left: 74.9%;
    width: 3.34%
}

#setas .esquerda {
    position: absolute;
    top: 66.82%;
    left: 71.77%;
    width: 2.46%
}


/************** localicacao**********/

#localizacao {
    background: black;
    width: 100%;
    height: auto;
}

#localizacao .tituloLoc {
    position: absolute;
    top: 414.07%;
    left: 36.72%;
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 26.46%;
    font-weight: lighter;
}

#localizacao .tituloLoc span {
    font-weight: bold;
}

#localizacao .mapa {
    border: none;
    position: absolute;
    top: 424.07%;
    left: 0;
    width: 100%;
    height: 50%;
}


/****************footer************/

footer {
    position: absolute;
    top: 473.96%;
    height: 20%;
    background: black;
    color: white;
    width: 100%;
}

footer .logo {
    position: absolute;
    top: 25.3%;
    left: 48.29%;
    width: 4.43%;
    height: auto;
}

footer p {
    position: absolute;
    top: 53.07%;
    left: 15.05%;
    right: 12.24%;
    font-size: 1vw;
    text-align: center;
}


/*************** ATÉ 560PX *************/

@media (max-width:560px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
    }
    /*****esconder*****/
    .video-boasvindasM,
    .video-diretorM,
    .fotosM {
        display: block;
    }
    .video-boasvindas,
    .video-diretor,
    .fotos,
    #barra-lateral,
    .membro3,
    .membro4 {
        display: none;
    }
    /*****logo*****/
    .logo {
        width: 14.26%;
        height: auto;
        position: absolute;
        top: 3%;
        left: 26.11%;
        z-index: 1;
    }
    /*******barras*****/
    #barras {
        position: relative;
        top: 0;
        left: 0;
    }
    /***** barra superior *****/
    #barra-superior {
        width: 100%;
        height: auto;
        position: absolute;
        left: 61.92%;
        z-index: 1;
    }
    #barra-superior ul li {
        float: left;
        font-size: 3vw;
        font-family: 'Roboto', sans-serif;
        padding: 4.5% 1.63%;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
    }
    #barra-superior ul a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 50%;
    }
    #barra-superior ul a:hover {
        color: #FFFFFF;
        opacity: 100%;
    }
    /*****principal*****/
    #principal {
        position: relative;
    }
    /******boas vindas*****/
    #boas-vindas {
        position: relative;
        top: 0;
    }
    #boas-vindas .ola {
        width: 37.9%;
        height: 12.3%;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 10vw;
        text-align: center;
        position: absolute;
        top: 32.19%;
        left: 10%;
        font-weight: lighter;
        z-index: 1;
    }
    #boas-vindas .boas-vindas {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 5vw;
        text-align: center;
        position: absolute;
        top: 43.33%;
        left: 10%;
        font-weight: lighter;
        z-index: 1;
    }
    #boas-vindas span {
        font-weight: bold;
    }
    /*********video boas vindas*************/
    #boas-vindas .video-wrapperM {
        position: relative;
    }
    #boas-vindas .video-wrapperM>video {
        width: 100%;
        vertical-align: middle;
    }
    #boas-vindas .video-wrapperM>video.has-media-controls-hidden::-webkit-media-controls {
        display: none;
    }
    #boas-vindas .video-overlay-play-button {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 25%;
        position: absolute;
        top: 13%;
        left: 0;
        display: block;
        opacity: 0.95;
        cursor: pointer;
        transition: opacity 150ms;
    }
    #boas-vindas .video-overlay-play-button:hover {
        opacity: 1;
    }
    #boas-vindas .video-overlay-play-button.is-hidden {
        display: none;
    }
    /*****diretor******/
    #equipe-diretor {
        width: 100%;
        height: auto;
    }
    #equipe-diretor .informacoes {
        background: #000;
        color: #FFFFFF;
        width: 69.55%;
        height: 58.87%;
        position: absolute;
        top: 106.72%;
        left: 5.56%;
        z-index: 2;
        overflow: hidden
    }
    #equipe-diretor .simbolo {
        width: 6.29%;
        position: absolute;
        top: 15.165%;
        left: 10.78%;
        z-index: 1;
    }
    #equipe-diretor .nome {
        font-size: 4vw;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        position: absolute;
        top: 15%;
        left: 20.46%;
    }
    #equipe-diretor .cargo {
        font-size: 4vw;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        position: absolute;
        top: 24.1%;
        left: 20.46%;
        font-weight: lighter;
    }
    #equipe-diretor .descricao {
        font-size: 2.2vw;
        line-height: 4vw;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        top: 35.5%;
        left: 20.46%;
        right: 25.6%;
    }
    /*********video diretor*************/
    #equipe-diretor>.video-wrapperM>.video-diretorM {
        width: 73.65%;
        position: absolute;
        top: 144.84%;
        left: 22.19%;
        z-index: 2;
    }
    /********** equipe *********/
    #equipe {
        width: 100%;
        overflow-x: hidden;
    }
    #equipe .equipe {
        position: absolute;
        top: 180.5%;
        left: 33.36%;
    }
    #equipe .equipe p {
        font-size: 6vw;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }
    #equipe .equipe p span {
        font-weight: bolder;
    }
    .membro1,
    .membro2 {
        background-color: black;
        width: 55.27%;
        height: 41.2%;
    }
    #equipe .membro1 {
        position: absolute;
        top: 194.35%;
        left: 5.56%;
    }
    #equipe .membro2 {
        position: absolute;
        top: 194.35%;
        left: 70.5%;
    }
    #equipe .foto {
        position: absolute;
        top: -6.9%;
        left: 11.5%;
        width: 77.7%;
    }
    #equipe .simbolo {
        position: absolute;
        top: 60.5%;
        left: 12.11%;
        width: 5.6%;
    }
    #equipe .membros p {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
    }
    #equipe .nome {
        position: absolute;
        top: 60.5%;
        left: 22%;
        font-size: 2.8vw;
        text-transform: uppercase;
        font-weight: bold;
    }
    #equipe .cargo {
        position: absolute;
        top: 70.4%;
        left: 22%;
        text-transform: uppercase;
        font-size: 2.8vw;
    }
    #equipe .descricao {
        position: absolute;
        top: 81.5%;
        left: 11%;
        font-size: 2.3vw;
        right: 10%;
    }
    /**********contato*******/
    #contato {
        width: 100%;
        height: 42.13%;
        position: absolute;
        top: 268%;
        background: black;
    }
    #contato p {
        color: #FFFFFF;
        font-size: 2.5vw;
        text-align: right;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        top: 19.6%;
        left: 19.6%;
        padding-left: 5%;
    }
    .lateral-contato ::placeholder,
    button {
        text-transform: uppercase;
    }
    .lateral-contato .nome {
        position: absolute;
        top: 23%;
        left: 53.5%;
        background: black;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        width: 26.9%;
        font-size: 1.2vw;
    }
    .lateral-contato .email {
        position: absolute;
        top: 36.9%;
        left: 53.5%;
        background: black;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        width: 26.9%;
        font-size: 1.2vw;
    }
    .lateral-contato .mensagem {
        position: absolute;
        top: 51%;
        left: 53.5%;
        background: black;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        width: 26.9%;
        font-size: 1.2vw;
    }
    #contato input[type='file'] {
        display: none;
    }
    #contato label {
        position: absolute;
        top: 75.9%;
        left: 53.3%;
        background: black;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        width: 6.25%‬;
        height: 3.5%;
        font-size: 1vw;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        cursor: pointer;
        padding-bottom: 0.5%;
    }
    .lateral-contato .enviar {
        position: absolute;
        top: 70.5%;
        left: 69%;
        background-color: black;
        border: 1px solid #fff;
        color: #FFFFFF;
        width: 11.45%;
        height: 9.9%;
        font-size: 1vw;
    }
    /*
                                                                                                                                                                                    /**********ambiente*********
                                                                                                                                                                                    #ambiente {
                                                                                                                                                                                        background: black;
                                                                                                                                                                                        width: 100%;
                                                                                                                                                                                        height: 109.16%;
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 325.7%;
                                                                                                                                                                                    }
                                                                                                                                                                                    .titulo-ambiente p {
                                                                                                                                                                                        font-size: 5vw;
                                                                                                                                                                                        font-family: 'Roboto', sans-serif;
                                                                                                                                                                                        text-transform: uppercase;
                                                                                                                                                                                        font-weight: lighter;
                                                                                                                                                                                        padding-left: 9.9%;
                                                                                                                                                                                        padding-bottom: 5%;
                                                                                                                                                                                    }
                                                                                                                                                                                    .titulo-ambiente span {
                                                                                                                                                                                        font-weight: bold;
                                                                                                                                                                                    }
                                                                                                                                                                                    .titulo-ambiente {
                                                                                                                                                                                        width: 51.3%;
                                                                                                                                                                                        background: #FFFFFF;
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: -5.4%;
                                                                                                                                                                                        left: 4.17%;
                                                                                                                                                                                    }
                                                                                                                                                                                    #carrosel-fotos .fotos {
                                                                                                                                                                                        position: relative;
                                                                                                                                                                                    }
                                                                                                                                                                                    #ambiente .fotos {
                                                                                                                                                                                        display: block;
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 6.96%;
                                                                                                                                                                                        left: 7%;
                                                                                                                                                                                        width: 76.56%;
                                                                                                                                                                                        height: auto;
                                                                                                                                                                                    }
                                                                                                                                                                                    #ambiente .numero-foto {
                                                                                                                                                                                        font-family: 'Roboto', sans-serif;
                                                                                                                                                                                        color: #FFFFFF;
                                                                                                                                                                                        font-weight: bold;
                                                                                                                                                                                    }
                                                                                                                                                                                    #ambiente .numero-foto .foto-atual {
                                                                                                                                                                                        font-size: 1.8vw;
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 3.08%;
                                                                                                                                                                                        left: 64.74%;
                                                                                                                                                                                    }
                                                                                                                                                                                    #ambiente .total-fotos {
                                                                                                                                                                                        opacity: 50%;
                                                                                                                                                                                        font-size: 1vw;
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 4%;
                                                                                                                                                                                        left: 67.07%;
                                                                                                                                                                                    }
                                                                                                                                                                                    #ambiente .allHands {
                                                                                                                                                                                        color: #FFFFFF;
                                                                                                                                                                                        font-family: 'Roboto', sans-serif;
                                                                                                                                                                                    }
                                                                                                                                                                                    #ambiente .titulo-allHands {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 18.83%;
                                                                                                                                                                                        left: 72.24%;
                                                                                                                                                                                        text-transform: uppercase;
                                                                                                                                                                                        font-size: 2.7vw;
                                                                                                                                                                                        font-weight: bold;
                                                                                                                                                                                        width: 9.27%;
                                                                                                                                                                                    }
                                                                                                                                                                                    #ambiente .descricao-allHands {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 31.21%;
                                                                                                                                                                                        left: 72.24%;
                                                                                                                                                                                        right: 16%;
                                                                                                                                                                                        font-size: 1vw;
                                                                                                                                                                                    }
                                                                                                                                                                                    #setas .direita {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 64.04%;
                                                                                                                                                                                        left: 74.9%;
                                                                                                                                                                                        width: 3.34%
                                                                                                                                                                                    }
                                                                                                                                                                                    #setas .esquerda {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 66.82%;
                                                                                                                                                                                        left: 71.77%;
                                                                                                                                                                                        width: 2.46%
                                                                                                                                                                                    }
                                                                                                                                                                                    /************** localicacao*********
                                                                                                                                                                                    #localizacao {
                                                                                                                                                                                        background: black;
                                                                                                                                                                                        width: 100%;
                                                                                                                                                                                        height: auto;
                                                                                                                                                                                    }
                                                                                                                                                                                    #localizacao .tituloLoc {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 414.07%;
                                                                                                                                                                                        left: 36.72%;
                                                                                                                                                                                        font-size: 2.5vw;
                                                                                                                                                                                        font-family: 'Roboto', sans-serif;
                                                                                                                                                                                        text-transform: uppercase;
                                                                                                                                                                                        color: #FFFFFF;
                                                                                                                                                                                        width: 26.46%;
                                                                                                                                                                                        font-weight: lighter;
                                                                                                                                                                                    }
                                                                                                                                                                                    #localizacao .tituloLoc span {
                                                                                                                                                                                        font-weight: bold;
                                                                                                                                                                                    }
                                                                                                                                                                                    #localizacao .mapa {
                                                                                                                                                                                        border: none;
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 424.07%;
                                                                                                                                                                                        left: 0;
                                                                                                                                                                                        width: 100%;
                                                                                                                                                                                        height: 50%;
                                                                                                                                                                                    }
                                                                                                                                                                                    /****************footer***********
                                                                                                                                                                                    footer {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 473.96%;
                                                                                                                                                                                        height: 20%;
                                                                                                                                                                                        background: black;
                                                                                                                                                                                        color: white;
                                                                                                                                                                                        width: 100%;
                                                                                                                                                                                    }
                                                                                                                                                                                    footer .logo {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 25.3%;
                                                                                                                                                                                        left: 48.29%;
                                                                                                                                                                                        width: 4.43%;
                                                                                                                                                                                        height: auto;
                                                                                                                                                                                    }
                                                                                                                                                                                    footer p {
                                                                                                                                                                                        position: absolute;
                                                                                                                                                                                        top: 53.07%;
                                                                                                                                                                                        left: 15.05%;
                                                                                                                                                                                        right: 12.24%;
                                                                                                                                                                                        font-size: 1vw;
                                                                                                                                                                                        text-align: center;
                                                                                                                                                                                    }
                                                                                                                                                                                    *;